@charset "UTF-8";
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden
}
    #wrapper {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        float: unset;
    }

    .weatherwidget-io{
        width: 600px;
        height: auto;
        box-shadow: 0px 0px 26px 1px rgba(0, 0, 0, 0.55);
    }
    #currency{
      top: 48%;
      left: 5%;
      height: 800px !important;
      width: 600px;
      position: fixed;
      
    }
    #weather{
      top: 4.6%;
      left: 5%;
      height: 600px;
      width: 600px;
      position: fixed;
      
    }
#blueimp-gallery-carousel{
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 3%;
    left: 45%;
    padding-bottom: 13%;
    
}
  .scroll-left {
    width: 97%;
    border-radius: 15px;
    margin-left: 1%;
    top: 85%;
    box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.55);
    height:120px;
    overflow: hidden;
    position: absolute;
    background: rgb(0, 140, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(71, 145, 255);
  }
  .scroll-left p {
    position: absolute;
    width: auto;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    font-size: 75px;
    line-height: 120px;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    transform: translateX(100%);
    animation: scroll-left 15s linear infinite;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }